body {
  margin: 0;
  padding: 0;
  width: 100%;
}
main {
  margin-top: 2%;
}
header {
  height: 200px;
}

.navbar {
  background: #3498db;
  color: white;
  padding: 15px;
  width: 100%;
  height: 60px;
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
}

img {
  float: right;
  margin-right: 15px;
}
/* .float-left {
    float: left;
    width: 300px;
    background-color: red;
    padding: 10px;
    margin-left: 15px;
} */
.container {

  /* display: flex;
  flex-direction: row;  
  justify-content:space-between;
  align-items: center;      
  height: 100vh;  
  width: 95%;
  text-align: center;   
  background: red;
  padding-inline: 20px; */
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  height: 100vh;
  background-color: red;
  gap: 20px;
  width: 100%;
}

.box {
  font-size: 20px;
  background: lightblue;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.container_position {
  position: relative;
  background: purple;
  height: 700px;
}

.Pbox {
  width: 120px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.static {
  background: #3498db;
}

.relative {
  background: #2ecc71;
  position: relative;
  top: 20px;
  right: 20px;
}

.absolute {
  background: #e67e22;
  position: absolute;
}

.fixed {
  background: black;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.sticky {
  background: #9b59b6;
  position: sticky;
  top: 10px;
}
